
:root{  
    --primary-color: #FE6C00;
    --low-primary-color: #262626;
    --color-texto: #ffffff;
    --gradiente-main: ;
    --secondary-color: #262626;
    --color-bg-w: #fff;
    --color-card: #f9f9f9;
    --color-txt-card: #666;
    --btn-card-buy: #4caf50;
    --btn-card-see: #FE6C00;
}
